<%- include ("./partials/cabecera") %> 
<%- user==true?include("./partials/navbar"):include("./partials/navbarUser")%> 

<style>
  .btn-cursos{
      font-size: 25px;
      color: white;
      background-color: rgb(45, 45, 62);
      padding-left: 30px;
      padding-right: 30px;
  }
  .btn-cursos2{
    font-size: 15px;
    color: white;
    background-color: rgb(45, 45, 62);
    padding-left: 30px;
    padding-right: 30px;
    width: 40%;
}
  
  .contenedor-cursos{
    margin: 25px;
  }

  @media (max-width: 600px) {
  .btn-cursos2 {
    width: 80%;
  }
}

.btn-cursos2 a {
  float: left;
}

.btn-cursos2 .porcentaje {
  float: right;
}
img{
  display: block;
  margin: auto;
  filter: invert(1);
  margin-top: 5px;
  border-radius: 50%;
}
  </style>
  
  <div class="contenedor-cursos mt-4 mb-4">
    <h2 class="btn btn-dark btn-cursos ">Mis cursos</h2>
    <br>

    <h3 class="btn btn-dark btn-cursos2 mt-5">
        <a href="#" class="btn-dark ">Curso básico</a> <span class="porcentaje">100%</span>
    </h3>
    <br>

    <h3 class="btn btn-dark btn-cursos2">
       <a href="#" class=" btn-dark">Intensivo Day Trading</a> <span class="porcentaje">54%</span>
    </h3>
    <br>

    <h3 class="btn btn-dark btn-cursos2">
        <a href="#" class=" btn-dark ">Intensivo de Crypto</a> <span class="porcentaje">20%</span>
    </h3>

  </div>

  <a href="/perfil">
    <img class="" style="width: 150px; margin-top: 8px;" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" />
  </a>

  <div class=" text-center mt-5 ">

    <h3>
        <b><a href="#" class="btn btn-dark btn-cursos2 mt-2 mb-2">Editar perfil</a></b>
        <b><a href="#" class="btn btn-dark btn-cursos2 mt-2 mb-2">Membresia</a></b>
        <b><a href="#" class="btn btn-dark btn-cursos2 mt-2 mb-2">Detalles de la cuenta</a></b>

        <form class="mt-2" action="/logout" method="post">
          <button class="btn btn-dark btn-cursos2">
            Cerrar sesión
          </button>
        </form>
      </h3>

  </div>

  <div class="w-75 mt-4 text-center">
      <div class="">
          
          
      </div>
  </div>

<%- include ("./partials/navbarbottom") %>
<%- include ("./partials/pie") %> 